<div
  class="d-flex mb-4"
  lc-helper="background"
  style="background:url(<%= cl_image_path @list.photo.key %>) center / cover no-repeat; height: 500px; background-color:#444; background-blend-mode: overlay;"
>
  <div class="align-self-center text-center text-light col-md-8 offset-md-2">
    <div class="lc-block mb-4">
      <div editable="rich">
        <%= link_to @list.name,
        lists_path,
        class: "display-1 text-decoration-none text-light fw-bolder" %>
      </div>
    </div>
    <%= link_to "Home",
    lists_path,
    class: "btn btn-secondary text-decoration-none text-light fw-bolder" %>
  </div>
</div>
<div class="containter w-75 mx-auto">
  <div class ="row row-cols-3 justify-content-evenly">
  <% @bookmarks.each do |bookmark| %>
    <div class="card p-0 w-100 h-100 m-4" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="<%= bookmark.movie.poster_url %>"
            class="img-fluid h-100 w-full rounded-start"
            alt="Movie Poster"
          >
        </div>
        <div class="col-md-8">
          <div class="card-body h-100 d-flex flex-column justify-content-between">
            <h5 class="card-title fw-bold">
              <%= bookmark.movie.title %>
            </h5>
            <p class="card-text"><span class="fw-bold">Rating:
              </span><%= bookmark.movie.rating.round(1) %></p>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <div class="d-flex justify-content-between">
              <p class="card-text"><span class="fw-bold">Comment:
                </span><%= bookmark.comment %></p>
              <div>
                
                <%= link_to "Delete",
                bookmark_path(bookmark),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?",
                },
                class: "btn btn-danger text-light" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div data-controller="toggle">
  <div class="d-flex justify-content-center">
    <div data-action="click->toggle#fire" class="btn mb-4 btn-lg btn-primary">Add a movie</div>
  </div>
  <div class="d-flex justify-content-evenly">
    <div
      data-toggle-target="togglableElement"
      class="align-self-center mb-4 w-50 card p-4 rounded d-none"
    >
      <%= simple_form_for [ @list, @bookmark ] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
